/* body{
    background: lightgrey;
} */
.myClass{
    color: red;
    background: dodgerblue;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 1px solid red!important;    
}